.banner {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 130px;
}

.banner img {
    filter: brightness(80%);
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}

.banner span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .banner img {
        height: 111px;
    }
    .banner span {
        font-size: 24px;
        width: 217px;
        left: 33%;
        text-align: left;
    }
}