.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0;
}

.header li {
    font-weight: 500;
    font-size: 1.5em;
    color: #FF6060;
    white-space: nowrap;
}

.li-border {
    border-bottom: 1px solid #FF6060;
}

.li-space {
    padding-left: 40px;
}

.img-logo {
    margin-top: 40px;
}

//MEDIAS QUERIES 
@media screen and (max-width: 600px) {
    .img-logo {
        width: 145px;
        height: 47px;
        padding-right: 20px;
    }
    .header li {
        font-size: 12px;
        text-transform: uppercase;
    }
}