.slidesShow-image {
    width: 1245px;
    height: 415px;
    object-fit: cover;
    position: relative;
    margin: 20px auto 15px;
    border-radius: 25px;
}

.vector-left {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.vector-right {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.number {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.infos-logement {
    display: flex;
    justify-content: space-between;
}

.logement-title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 0px;
}

.host-container {
    display: flex;
    align-items: center;
}

.logement-name {
    font-size: 18px;
    color: #FF6060;
    width: 93px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.logement-location {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 18px 0;
}

.logement-picture-host {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.tags-container {
    display: flex;
}

.tag-name {
    background-color: #FF6060;
    color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 500;
}