@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-container {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
}

.header-img {
  max-width: 1024px;
}

.header-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  color: #FF6060;
  white-space: nowrap;
  margin: 0;
}

.li-border {
  border-bottom: 1px solid #FF6060;
  padding: 0;
}

.li-space {
  padding-left: 40px;
}

.img-logo {
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .img-logo {
    max-width: 145px;
    height: 47px;
    padding-right: 10px;
  }
  h2 {
    font-size: 12px;
    text-transform: uppercase;
  }
  .li-space {
    padding-left: 15px;
  }
}
@media screen and (max-width: 319px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.banner {
  margin: 60px auto 40px auto;
  max-width: 1240px;
  position: relative;
}

.banner img {
  filter: brightness(0.7);
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .banner img {
    height: 111px;
  }
  .banner span {
    font-size: 24px;
    width: 217px;
    text-align: left;
  }
}
.mainColorGrey {
  background-color: #F6F6F6;
  height: auto;
  max-width: 1240px;
  border-radius: 25px;
  margin: 0 auto;
}

.grille {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: center;
  grid-gap: 50px;
  padding: 56px 45px;
}

.grille-item {
  position: relative;
}

.grille-item img:hover {
  filter: brightness(0.8);
}

.grille-item img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grille-item span {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  max-width: 200px;
  z-index: 10;
}

@media screen and (max-width: 550px) {
  .mainColorGrey {
    background-color: #fff;
  }
  .grille {
    grid-template-columns: repeat(auto-fill, 280px);
  }
  .grille-item img {
    width: 280px;
    height: 340px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  height: 180px;
  padding-top: 30px;
  margin-top: 30px;
}

.footer-container {
  text-align: center;
  padding: 10px;
}

.footer p {
  color: #fff;
  font-size: 24px;
  margin-top: 40px;
}

@media screen and (max-width: 400px) {
  .footer-container {
    padding: 0;
  }
}
.error {
  font-size: 288px;
  color: #FF6060;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.error-container span {
  color: #FF6060;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.error-container p {
  color: #FF6060;
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 170px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .error {
    font-size: 96px;
  }
  .error-container span {
    font-size: 18px;
    width: 260px;
    margin: 0 auto;
    text-align: center;
  }
}
.banniere-about {
  filter: brightness(0.7);
  border-radius: 25px;
  width: 86%;
  max-width: 1240px;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}

.banniere-about-container {
  margin: 50px 20px 30px 20px;
}

.collapse-about-container {
  max-width: 1020px;
  margin: 0 auto;
}

.collapse-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  max-width: 1230px;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  margin: 31px auto 0 auto;
}

.collapse-infos img {
  width: 23px;
  height: 14px;
  cursor: pointer;
}

.active img {
  transform: rotate(180deg);
  transition: 0.5s;
}

.closed img {
  transform: rotate(0);
  transition: 0.5s;
}

.active .collapse-description {
  display: block;
}

.closed .collapse-description {
  display: none;
}

.collapse-infos h3 {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.collapse-description {
  background-color: #F6F6F6;
  color: #FF6060;
  height: auto;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 10px 19px 10px;
  border-radius: 0 0 5px 5px;
}

.collapse-about-margin {
  margin: 0 20px;
}

@media screen and (max-width: 600px) {
  .banniere-about {
    -o-object-position: 80% 40%;
       object-position: 80% 40%;
  }
}
.slidesShow-image {
  width: 1245px;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  margin: 20px auto;
  border-radius: 25px;
}

.vector-left {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.vector-right {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: -20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.number {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  left: 50%;
  bottom: 0;
}

body {
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  .header-container,
.banner,
.main-container {
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */